In [1]:
import pandas as  pd
import numpy as np

dfo = pd.read_csv('./Dataset/flights2.csv')
df = dfo.set_index('DESTINATION_AIRPORT','AIRLINE')
df = df.sort_index()
df.head()

C:\Users\muhammad.tayyab01\AppData\Local\Temp\ipykernel_23040\4227747670.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.set_index except for the argument 'keys' will be keyword-only.
  df = dfo.set_index('DESTINATION_AIRPORT','AIRLINE')

                     YEAR  MONTH  DAY  DAY_OF_WEEK  ... SECURITY_DELAY  AIRLINE_DELAY LATE_AIRCRAFT_DELAY WEATHER_DELAY
DESTINATION_AIRPORT                                 ...
ABE                  2015      1   29            4  ...            0.0            0.0                 0.0           0.0
ABE                  2015      1    4            7  ...            NaN            NaN                 NaN           NaN
ABE                  2015      1    8            4  ...            0.0           52.0                 0.0           0.0
ABE                  2015      1   16            5  ...            NaN            NaN                 NaN           NaN
ABE                  2015      1   10            6  ...            NaN            NaN                 NaN           NaN

[5 rows x 30 columns]

In [2]:
df.index

Index(['ABE', 'ABE', 'ABE', 'ABE', 'ABE', 'ABE', 'ABE', 'ABE', 'ABE', 'ABE',
       ...
       'YUM', 'YUM', 'YUM', 'YUM', 'YUM', 'YUM', 'YUM', 'YUM', 'YUM', 'YUM'],
      dtype='object', name='DESTINATION_AIRPORT', length=469968)