# Extra Examples - Pivoting

Let's use customer satisfaction for this example: https://www.kaggle.com/johndddddd/customer-satisfaction

We'll load in via `pd.read_excel`, so you might need to run `pip install xlrd` and restart your kernel. It will take a long time to load the data, be warned. If you have any issues, I'll save it out as a csv and include it as well so you can use `read_csv`.

Lets investigate:

1. Assign a numeric ranking to "satisfaction_v2"
2. Pivot to show average satisfaction by gender and class.
3. What is most correlated with satisfaction
4. Are the online features correlated in count?

In [1]:
import pandas as pd
df = pd.read_excel("satisfaction.xlsx")
df.to_csv("satisfaction.csv", index=False, float_format="%0.1f")
df.head()

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,11112,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,...,2,3,3,0,3,5,3,2,0,0.0
1,110278,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,...,2,3,4,4,4,2,3,2,310,305.0
2,103199,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,...,2,2,3,3,4,4,4,2,0,0.0
3,47462,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,...,3,1,1,0,1,4,1,3,0,0.0
4,120011,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,...,4,2,2,0,2,4,2,5,0,0.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
id                                   129880 non-null int64
satisfaction_v2                      129880 non-null object
Gender                               129880 non-null object
Customer Type                        129880 non-null object
Age                                  129880 non-null int64
Type of Travel                       129880 non-null object
Class                                129880 non-null object
Flight Distance                      129880 non-null int64
Seat comfort                         129880 non-null int64
Departure/Arrival time convenient    129880 non-null int64
Food and drink                       129880 non-null int64
Gate location                        129880 non-null int64
Inflight wifi service                129880 non-null int64
Inflight entertainment               129880 non-null int64
Online support                       129880 non-null int64
Ease of Online booking               129880 non-null int64
On-board service                     129880 non-null int64
Leg room service                     129880 non-null int64
Baggage handling                     129880 non-null int64
Checkin service                      129880 non-null int64
Cleanliness                          129880 non-null int64
Online boarding                      129880 non-null int64
Departure Delay in Minutes           129880 non-null int64
Arrival Delay in Minutes             129487 non-null float64
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

## Make satisfaction_v2 numeric

In [1]:
# your code here

## Satisfcation based on gender and class

In [2]:
# your code here

## What is most correlated with satisfaction

In [3]:
# your code here

## Can we check if Online features have duplicate info?

This is a very open question, so a lot of ways to go about this. Correlation might be one, or
checking the frequency of all of them against each other might be another.

In [4]:
# your code here