# Extra Examples - TimeSeries

Like many people, I wonder where my life would be if I just bought some bitcoins back in 2009. So let's rub salt into the wound with this crypto dataset: https://www.kaggle.com/taniaj/cryptocurrency-market-history-coinmarketcap

Our exercise is thus:

1. Index the df by symbol and date
2. Find the top 5 symbols with the highest market cap (over all time)
3. Plot those samples - date vs closing price
4. Its a bit hard to see, smooth the plots with a window of 5 days
4. Create a new column that indicates a simple 1 or 0 for growth or not growth (compared to prev day)
5. Identify regions in the top coin where we had positive growth for an entire fortnight (aka 10 entries, using the above col)

In [1]:
import pandas as pd

df = pd.read_csv("all_currencies.csv", index_col=0, parse_dates=["Date"])
df.head()

,Date,Symbol,Open,High,Low,Close,Volume,Market Cap
0,2015-11-12,$$$,0.000013,0.000017,0.000013,0.000017,142.0,NaN
1,2015-11-13,$$$,0.000017,0.000033,0.000016,0.000024,85.0,NaN
2,2015-11-14,$$$,0.000024,0.000053,0.000023,0.000030,131.0,NaN
3,2015-11-15,$$$,0.000030,0.000063,0.000022,0.000035,132.0,NaN
4,2015-11-16,$$$,0.000035,0.000046,0.000032,0.000036,280.0,NaN

## Setting the index

In [5]:
# your code here
df = df.set_index(['Date','Symbol']).sort_index()

In [4]:
df

                         Open        High         Low       Close    Volume  \
Date       Symbol
2013-04-28 BTC     135.300000  135.980000  132.100000  134.210000       NaN
           LTC       4.300000    4.400000    4.180000    4.350000       NaN
           NMC       1.100000    1.120000    1.080000    1.110000       NaN
           NVC       4.220000    4.250000    4.040000    4.250000       NaN
           PPC       0.386958    0.404659    0.376287    0.386525       NaN
...                       ...         ...         ...         ...       ...
2018-09-27 ZOI       0.068958    0.085504    0.062276    0.084638   12330.0
           ZP        0.408762    0.456677    0.373954    0.432370  217992.0
           ZSE       0.006862    0.009066    0.006129    0.009013     184.0
           ZYD       0.004273    0.004567    0.004193    0.004540    4849.0
           ZZC       0.086664    0.130541    0.067363    0.073475      91.0

                     Market Cap
Date       Symbol
2013-04-28 BTC     1.500520e+09
           LTC     7.377340e+07
           NMC     5.969080e+06
           NVC     1.155160e+06
           PPC     7.255800e+06
...                         ...
2018-09-27 ZOI     1.270230e+06
           ZP               NaN
           ZSE              NaN
           ZYD     2.667700e+04
           ZZC     1.686910e+05

[632218 rows x 6 columns]

## Finding the highest 5 market cap symbols

In [2]:
# your code here

## Plotting the closing price for those five symbols

In [3]:
# your code here

## Smooth it out

In [4]:
# your code here

## Create new column for growth

In [5]:
# your code here

## Determine periods of a stable growth in the top coin

Note we're glossing over potentially missing days, etc. We could resample to fix this, but let's keep it a bit simple. You should be able to reuse some of the rolling code above to do this.

In [6]:
# your code here

If your result agrees with mine, it looks like 2017 was a great year for bitcoin, with lots of stable growth in May.